<router-outlet></router-outlet>
<ul>
  <li *ngFor="let album of albums">
    <a [routerLink]="['/albums', album.id]">{{ album.id }} {{ album.title }}</a>
    <button (click)="deleteAlbum(album.id)" style="margin-left: 5px">
      Delete
    </button>
  </li>
</ul>

<form (submit)="createAlbum()">
  <input
    type="text"
    placeholder="Enter title"
    [(ngModel)]="newTitle"
    name="title"
  />
  <input
    type="number"
    placeholder="Enter user ID"
    [(ngModel)]="newUserId"
    name="userId"
  />
  <button type="submit">Create</button>
</form>
